[Unit]
Description=Notify Service
After=pulseaudio.service
ConditionUnitActive=active
ConditionUnit=pulseaudio.service

[Service]
ExecStartPre=/bin/bash -c 'while ! systemctl is-active --quiet pulseaudio.service; do sleep 1; done'
ExecStart=/usr/sbin/notify

[Install]
WantedBy=multi-user.target
