[Unit]
SourcePath=/etc/initscripts/rubikpi_boot.sh
Description=Rubik Pi boot service

[Service]
ExecStart=/etc/initscripts/rubikpi_boot.sh

[Install]
WantedBy=multi-user.target
